{# templates/article/new.html.twig #}
{% extends 'back/base.html.twig' %}

{% block title %}Create New Article{% endblock %}

{% block body %}
    <div class="admin-form-container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Create New Article</h1>
            <a href="{{ path('app_admin_article_index') }}" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left-circle"></i> Back to List
            </a>
        </div>

        {{ include('article/_form.html.twig', {'button_label': 'Create Article'}) }}
    </div>
{% endblock %}