{# templates/user/_form.html.twig #}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3" type="submit">
        <i class="bi bi-check-circle"></i> {{ button_label|default('Save') }}
    </button>
{{ form_end(form) }}