{# templates/user/edit.html.twig #}
{% extends 'back/base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="admin-form-container mt-4">
        <h1>Edit User: {{ user.username }}</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Update User'}) }} {# Or 'Save Changes' #}

        <a href="{{ path('app_users_index') }}" class="btn btn-link mt-3">
            <i class="bi bi-arrow-left"></i> Cancel and Back to List
        </a>
    </div>
{% endblock %}